.bg-1{
background-image: url("/assets/Photos/benjamin-voros-575800-unsplash.jpg");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow:hidden

}

.bg-height{
  height: 300px;
}


.bg-2{
  background-image: url("/assets/Photos/ilya-ilford-128033-unsplash.jpg");
  height: 100vh;
  min-height: fit-content;
  background-position: center;
background-repeat: no-repeat;
background-size: cover
}

h1{
  text-shadow: 1px 1px;
}


.bg-4{
  background-color: gray
}
.fa-d-and-d{
  transition: transform 2s ease;
}

.fa-d-and-d:hover{
  transition: transform 2s ease;
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
    transform-origin:center;
}
.fa-atom{
  transition: transform 2s ease;
}
.fa-atom:hover{
  transition: transform 2s ease;
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
    transform-origin:center;
}
.fa-binoculars{
  transition: transform 2s ease;
}
.fa-binoculars:hover{
  transition: transform 2s ease;
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
    transform-origin:center;
}
.fa-campground{
  transition: transform 2s ease;
}
.fa-campground:hover{
  transition: transform 2s ease;
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
    transform-origin:center;
}